.buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 225px;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    font-size: 0.9rem;
    text-align: left;
    color: #fff;
    display: flex;
    align-items: center;

    &.qq {
      // background: #498AD5;
      background: rgba(73, 138, 213, 0.2);
      cursor: no-drop;
    }
    &.wx {
      // background: #03BB29;
      background: rgba(3, 187, 40, 0.2);
      cursor: no-drop;
    }
    &.gh {
      background: #868ca0;
    }

    .logo {
      height: 100%;
      width: 25px;
      margin-right: 14px;
    }
  }
}
