@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multi-line-ellipsis {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-center-last {
  text-align-last: center;
}

.CodeMirror {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  font-size: 16px;
  .CodeMirror-line {
    padding-left: 10px !important;
  }
}

.markdown-body {
  padding: 20px;
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  ul ul, ol ul { 
    list-style-type: circle; 
  }
  ul ul ul, ul ol ul {
      list-style-type: square;
  }
}